
* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "open sans", sans-serif;
  width: 100%;
  background-color: rgba(156, 131, 95, 1);
}

.title {
  padding: 20px;
  color: rgba(249, 178, 61, 1);
  font-size: 36px;
  font-weight: bolder;
  text-align: center;
  line-height: 49px;
}

.player-group h2,
.player-group button,
.com-group h2,
.com-group button {
  margin-bottom: 30px;
}


.com-group button:disabled,
.com-group button[disabled] {
  opacity: 40%;
  margin-bottom: 50px;
  position: absolute;
  width: 115px;
  height: 150px;
  left: 970px;
  top: 440px;
  background-color: #C4C4C4;
}

.container-result {
  height: 20%;
}

.container-result-win {
  height: 100%;
  width: 100%;
  background-color: rgba(76, 150, 84, 1);
  color: whitesmoke;
  border-radius: 20px;
  transform: rotate(-28.87deg);
}

.container-result-draw {
  height: 100%;
  width: 100%;
  background-color: rgba(76, 150, 84, 1);
  color: whitesmoke;
  border-radius: 20px;
  transform: rotate(-28.87deg);
}

.container-result-lose {
  height: 100%;
  width: 100%;
  background-color: rgba(3, 91, 12, 1);
  color: whitesmoke;
  border-radius: 20px;
  transform: rotate(-28.87deg);
}

.vs {
  font-family: open sans;
  font-style: normal;
  font-weight: 700;
  font-size: 70px;
  line-height: 196px;
  text-align: center;
  letter-spacing: 0.1cm;
  text-transform: uppercase;
  color: #BD0000;
}